.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg-img{
  background-color: hsl(200deg 21% 92%);
}

.bg-img2 {
  background-image:url(http://via.placeholder.com/1200x600);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 90px !important;
}

h2 {
  font-size: 50px !important;
  margin-top: 16% !important;
}

.bordercolor {
  border-right: 2px solid #6b6b6b;
}

.bordercont {
  border-bottom: 2px solid #6b6b6b;
  padding-bottom: 8%;
}